extends _layout/base
block settings
  - title = 'Welcome to Pug Starter';
  - description = 'Simple pug (jade) starter aimed to quickly deliver HTML & CSS projects';

block content
  .css3-trick
    .circle
    .content
      img.image-1(src="asset/image/css3-shape-01.png")
      img.image-2(src="asset/image/css3-shape-02.png")
      p Simple pug (jade) starter [framework] enabling faster delivery of HTML &amp; CSS projects to a private server and/or automatic deployment of GitHub pages. Simple pug (jade) starter [framework] enabling faster delivery of HTML &amp; CSS projects to a private server and/or automatic deployment of GitHub pages. Simple pug (jade) starter [framework] enabling faster delivery of HTML &amp; CSS projects to a private server and/or automatic deployment of GitHub pages. Simple pug (jade) starter [framework] enabling faster delivery of HTML &amp; CSS projects to a private server and/or automatic deployment of GitHub pages. Simple pug (jade) starter [framework] enabling faster delivery of HTML &amp; CSS projects to a private server and/or automatic deployment of GitHub pages. Simple pug (jade) starter [framework] enabling faster delivery of HTML &amp; CSS projects to a private server and/or automatic deployment of GitHub pages. Simple pug (jade) starter [framework] enabling faster delivery of HTML &amp; CSS
